/*公共样式开始*****/
body{text-align:left;font-family:"宋体";margin:0;padding:0;font-size:12px;color:#333;}
div,form,img,ul,ol,li,dl,dt,dd{margin:0;padding:0;border:none;}
ul,dl,li{list-style-type:none;}
h1{color:#000;font-weight:bold;font-size:14px;margin:0;padding:0;}
h2,h3,h4,h5,h6 {margin:0;padding:0;font-size:12px;font-weight:normal;}

input,select,button{font:12px Verdana,Arial,Tahoma;}


a:link {color: #333; text-decoration:none;}
a:visited {color:#333;text-decoration: none;}
a:hover {color:#d48701; text-decoration:none;}
a:active {color:#d48701;text-decoration: none;}
.cRed,a.cRed:link,a.cRed:visited,a.cRed:active{ color:#56a606; }
.cWhite,a.cWhite:link,a.cWhite:visited,a.cBlue:active{color:#fff;}
.cFei,a.cFei:link,a.cFei:visited,a.cFei:active{color:#666;}
.cEei,a.cEei:link,a.cEei:visited,a.cEei:active{color:#003da3;}
.ff {font-weight: bold; font-size:12px; }
.fB {font-weight: bold; font-size:14px;color:#f36f21; }
.f10px{ font-size:10px;}
.f12px{ font-size:12px;}
.f14px{ font-size:14px;}
.f16px{ font-size:16px;}
.f22px{ font-size:16px;}
p{margin:0px;padding:0px;line-height:20px;}

.height10{height:10px;font-size:0px;line-height:10px;overflow:hidden;clear:both;}
.clear{clear:both;font-size:0px;height:0px;line-height:0px;overflow:hidden;}
/*公共样式结束******/


/*头部样式******/
.yd-logo{width:980px;margin:0 auto;padding:20px 0 10px 0; text-align:center;}
.yd-san_bg{width:100%; border-top:2px solid #d8d8d8;height:408px;}
.yd-san{width:980px;margin:0 auto;position:relative;}
.qyh{width:234px;height:173px; background:url(../images/qyh.png) no-repeat;top:24px;position:absolute;left:80px; z-index:100;}
.qyh:hover{ background:url(../images/qyh-hover.png) no-repeat;width:236px;height:173px; display:block;}
.dkc{width:257px;height:167px; background:url(../images/dkc.png) no-repeat;top:228px;left:361px;position:absolute;z-index:100;}
.dkc:hover{ background:url(../images/dkc-hover.png) no-repeat;width:257px;height:167px; display:block; z-index:100;}
.zjf{width:242px;height:173px; background:url(../images/zjf.png) no-repeat;left:668px;position:absolute;top:24px;z-index:100;}
.zjf:hover{ background:url(../images/zjf-hover.png) no-repeat;width:242px;height:173px; display:block;}
.dc{position:absolute;left:295px;}

.head{width:100%;height:145px;}
.top{width:980px;margin:0 auto;position:relative;height:103px; }
.logo{position:absolute;top:30px;}
.logo-w{position:absolute;top:50px;left:217px;}
.logo-w span{color:#fb7c04;font-size:14px;font-weight:bold;}
.logo-w a,.logo-w a:hover{color:#333; background:url(../images/xsan.png) no-repeat 30px;}

.dh{position:absolute;top:60px;left:774px;}

.menu_bg{width:100%;height:42px; background:url(../images/menu-bg.png);}
.menu-jz{width:980px;margin:0 auto;}
.menu{width:500px;height:42px;float:left;}
.menu li{width:90px;height:42px;float:left;line-height:42px;font-size:14px;font-weight:bold; text-align:center; background:url(../images/menu-x.png) no-repeat right;}
.menu li a,.menu li a:visited{color:#fff;}
.menu li a:hover{width:90px;height:42px; background:url(../images/menu-hover.png); display:block; text-decoration:none;}
.menu li.selected a{width:90px;height:42px; background:url(../images/menu-hover.png); display:block;}
.ldf{float:right;color:#fff; position:relative; z-index:1;}
.ldf li{float:left;line-height:42px;}
.ldf li a{padding:0 16px 0 16px;}
.ej{display:block; width:72px;}
.ej span{background:url(../images/san.png) no-repeat 72px;display:block; width:85px; cursor:pointer;}
.sub_selected .ldfhover,.ldfhover:hover{background:url(../images/menu-hover.png);  display:block;height:42px;font-weight:bold;}
/*
.ldf li:hover{background:url(../images/menu-hover.png);  display:block;height:42px;font-weight:bold;}
.ldf li.ej a{ background:url(../images/san.png) no-repeat 85px; display:block; width:72px;}
.ldf li.ej:hover,.sub_selected{ background:url(../images/menu-hover.png); height:42px; font-weight:bold;}
.ldf li.sub_selected a{ background:url(../images/san.png) no-repeat 85px 19px;}
*/
.ldf li a:hover{ text-decoration:none;}
.ldf li a,.ldf li a:visited{color:#fff;}

/*版权******/
.bottom{width:100%;}
.bottom-lj_bg{width:100%;background:#f2f2f2;padding:0px 0 30px 0;border-bottom:1px solid #a6a6a6; border-top:2px solid #d8d8d8;}
.bottom-lj{width:660px;margin:0 auto; background:url(../images/bottom-lj.png);padding:20px 0 20px 0;}
.dbw{width:170px;float:left;padding-left:50px;}
.dbw h3{font-weight:bold;line-height:36px; background:url(../images/dbw01.png) no-repeat 5px;padding-left:30px;font-size:14px;}
.dbw li a,.dbw li a:visited{color:#666;line-height:26px; background:url(../images/dian.png) no-repeat 10px;padding-left:20px;}
.dbw li a:hover{ text-decoration:underline;}

.dbw1{width:170px;float:left;padding-left:50px; }
.dbw1 h3{font-weight:bold;line-height:36px; background:url(../images/dbw02.png) no-repeat 5px;padding-left:30px;font-size:14px;}
.dbw1 li a,.dbw1 li a:visited{color:#666;line-height:26px; background:url(../images/dian.png) no-repeat 10px;padding-left:20px;}
.dbw1 li a:hover{ text-decoration:underline;}

.dbw2{width:170px;float:left;padding-left:50px;}
.dbw2 h3{font-weight:bold;line-height:36px; background:url(../images/dbw03.png) no-repeat 5px;padding-left:30px;font-size:14px;}
.dbw2 li a,.dbw2 li a:visited{color:#666;line-height:26px; background:url(../images/dian.png) no-repeat 10px;padding-left:20px;}
.dbw2 li a:hover{ text-decoration:underline;}
.bottom-w_bg{width:100%;background:#646464;height:42px;border-top:1px solid #fff;}
.bottom-w{width:700px;margin:0 auto;}
.bottom-w p{line-height:42px;float:left;color:#fff;}
.bottom-w span{color:#fff;}

/*城市切换*/
.city_wrap{ border:1px solid #d3d3d3; background:#fff; padding:3px 8px 10px 8px; position:absolute; z-index:10000001; top:70px; left:215px; width:200px;}
.city_wrap h2{ border-bottom:1px solid #d3d3d3;  line-height:25px; margin-bottom:8px; overflow:hidden;zoom:1;}
.city_wrap h2 a{ float:right;}
.city_wrap h2 a:hover{ color:#333; text-decoration:none;}
.city{ border-bottom:1px dashed #e6e6e6; margin-bottom:8px; padding-bottom:5px;}
.city a{ color:#666; padding:0 3px; line-height:20px;}

/*下拉菜单*/
.subMenu{ position:absolute; width:104px; background:#fb8104; text-align:center; top:40px; display:none;}
.subMenu a{ color:#fff; line-height:35px; display:block; height:35px; border-top:1px solid #f9a249;}
.subMenu a:hover{ color:#fff;background:#f96304; text-decoration:none;}
.city_warm{ color:#999;}
.backToTop {display: none;width:60px;height:22px;background:url(../images/top.png) no-repeat left top;line-height: 1.2;padding: 5px 0;color: #fff;font-size: 12px;text-align: center;position: fixed;_position: absolute;right: 30px;bottom: 230px;_bottom: "auto";cursor: pointer;}