/*公共样式开始******/
body.ny { text-align: left; font-family: "宋体"; margin: 0; padding: 0; font-size: 12px; color: #333; }
body { text-align: left; font-family: "宋体"; margin: 0; padding: 0; font-size: 12px; color: #333; background: #fff; }
div, form, img, ul, ol, li, dl, dt, dd { margin: 0; padding: 0; border: none; }
ul, dl, li { list-style-type: none; }
h1 { color: #000; font-weight: bold; font-size: 14px; margin: 0; padding: 0; }
h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 12px; font-weight: normal; }

input, select, button { font: 12px Verdana,Arial,Tahoma; vertical-align:middle; }

.txtDate { width: 80px; }
.red { color:Red}

a:link { color: #333; text-decoration: none; }
a:visited { color: #333; text-decoration: none; }
a:hover { color: #f89e00; text-decoration: none; }
a:active { color: #ee9a06; text-decoration: none; }
.cRed, a.cRed:link, a.cRed:visited, a.cRed:active { color: #56a606; }
.cWhite, a.cWhite:link, a.cWhite:visited, a.cBlue:active { color: #fff; }
.cFei, a.cFei:link, a.cFei:visited, a.cFei:active { color: #666; }
.cEei, a.cEei:link, a.cEei:visited, a.cEei:active { color: #003da3; }
.ff { font-weight: bold; font-size: 12px; }
.fB { font-weight: bold; font-size: 14px; color: #f36f21; }
.f10px { font-size: 10px; }
.f12px { font-size: 12px; }
.f14px { font-size: 14px; }
.f16px { font-size: 16px; }
.f22px { font-size: 16px; }


.height10 { height: 10px; font-size: 0px line-height:10px; overflow: hidden; clear: both; }
.clear { clear: both; font-size: 0px; height: 0px; line-height: 0px; overflow: hidden; }
/*公共样式结束******/

/*头部样式开始******/
.top { width: 980px; margin: 0 auto; }
.logo { width: 980px; padding-top:30px;text-align: center; }

/*登录样式开始******/
.dl-k { width: 980px; height: 300px; padding-top:60px;  }
*html .dl-k { width: 980px; height: 300px;  }
* + html .dl-k { width: 980px; height: 300px; }

.dl { width: 500px; margin: 0 auto;padding-left:200px;}
*html .dl { width: 500px; margin: 0 auto;padding-left:205px;}

.dl li{height: 30px;margin-bottom: 15px;width: 500px;text-align: left;line-height: 30px; overflow:hidden;}
.dl li input { vertical-align: middle;width:160px; height: 22px; line-height: 22px; border: 1px solid #c1c1c1; overflow:visible; }
.dl li .radio{width:20px; border:0px;}
.dl li span{width: 150px; font-size: 14px;}
.dl li .subsys{ padding-left:60px; }
.dl li img{vertical-align: middle; width: 64px; cursor:pointer;}
.dl li .Login_input{text-transform: uppercase;width: 100px;}


.t { float: right; }
.tt { width: 400px; height: 28px; margin: 0 auto;padding-left:63px; }
.tb { width: 80px; float: left;position:relative; }
.tb{line-height:28px;}
.tb a,.tb a:visited{font-weight:bold;font-size:14px; text-decoration:underline;color:#e77918;}

.ceng-main { width: 360px; margin: 0 auto; }
.ceng-main li { height: 24px; margin-bottom:4px; width:360px; text-align: center; }
*html .ceng-main li { height: 14px; margin-bottom:4px; width:360px; text-align: center; }
.ceng-main li input { width:140px; height: 18px; line-height: 18px; border: 1px solid #c1c1c1; float: left; }
.ceng-main .radio{width:20px; border:0px;}
.ceng-main .radio input {width:20px; border:0px; vertical-align:middle;}
.ceng-main .radio label {float: left;}

.w1{ height: 20px; width:100px; float: left; font-size: 14px; }
.w { height: 23px; padding-top: 5px; width: 80px; float: left; font-size: 14px; }

.zc_wc{width:260px;text-align:center;margin-top:5px;}
.zc_an{width:260px;height:28px; text-align:center;margin-top:10px;}
.zc_wc span{color:#E77918;}

/*口号样式开始******/
.kh { width: 813px; height: 67px; margin: 68px auto auto auto; }

/*版权样式开始******/
.kslj { width: 980px; height: 47px; text-align: center; border-bottom: 2px solid #f97702; margin: 30px auto auto auto; }
.kslj span { line-height: 47px; font-weight: bold; }

.bottom { width: 980px; margin: 13px auto auto auto; text-align: center; }
.bottom span { color: #727272; }

.fdc { width: 124px; height: 61px; margin-left: 10px; background: url(images/Default_images/fdc.gif); padding-top: 25px; padding-left: 20px; padding-right: 10px; }
.fdc span { font-weight: bold; color: #6ba6ce; line-height: 20px; }
.action_del{cursor:pointer;}
.action_dlg{cursor:pointer;}
.action_add{cursor:pointer;}
.action_edit{cursor:pointer;}
.action_query{cursor:pointer;}
.fl{float:left;}
.fr{float:right;}