@charset "utf-8";
/*================================================
Version:6.0 Date:2011/06/01
Rendering Engine:Trident,Gecko,WebKit,Presto.
Author:yzy E-mail:286067198@qq.com QQ:286067198
================================================*/
/*CSS Reset*/
html,body,h1,h2,h3,h4,h5,h6,p,br,form,input,button,textarea,select,fieldset,legend,blockquote,ul,ol,li,dl,dt,dd,pre{margin:0;padding:0;}
body{font:12px/1.231 宋体,Tahoma,Arial,"\5b8b\4f53",sans-serif;color:#434343;} 
a{text-decoration:none;color:#434343;outline:none;}
a:hover{text-decoration:underline; color:#fb7c04;}
textarea,select,input,button,label{vertical-align:middle;font-size:12px;}
select{ border: 1px solid #C6C6C6;}
button{background:none;border:none;cursor:pointer}
address,cite,code,em,var,abbr,acronym,i,b{font-style:normal;}
textarea{resize:vertical;}
pre{font-size:12px;text-align:left;white-space:pre-wrap;word-wrap:break-word;}
ol,ul{list-style:none outside none}
table{border-collapse:collapse;border-spacing:0}
img,fieldset{border:0;}
td,th,p,li{word-break:break-all;}
::-moz-selection{background:green;color:#FFF;}/*反选色*/
::selection{background:green;color:#FFF;}
/*clearFloat*/
.clearfix{clear:both;height:1%;display:table;display:inline-block;}
.clearall{overflow:hidden;_zoom:1;}
.clear{clear:both;font-size:0;height:0;line-height:0;}
/*float*/
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.f-none{float:none}
/*textAlign*/
.ta_l{text-align:left!important;}
.ta_r{text-align:right!important;}
.ta_c{text-align:center}
.ta_j{text-align:justify;text-justify:inter-ideograph;}
/*margin*/
.mt_0{margin-top:0px;}.mt_5{margin-top:5px;}.mt_im_5{margin-top:5px!important;}.mt_10{margin-top:10px!important;}.mt_15{margin-top:15px;}.mt_20{margin-top:20px;_margin-top:20px;!important}.mt_30{margin-top:30px!important;}
.mr_0{margin-right:0px!important;}.mr_5{margin-right:5px;}.mr_8{ margin-right:8px;}.mr_10{margin-right:10px;}.mr_15{margin-right:15px;}.mr_20{margin-right:20px;}
.mb_0{margin-bottom:0px;}.mb_5{margin-bottom:5px;}.mb_10{margin-bottom:10px;}.mb_15{margin-bottom:15px;}.mb_20{margin-bottom:20px;}
.ml_0{margin-left:0px!important;}.ml_5{margin-left:5px;}.ml_10{margin-left:10px;}.ml_15{margin-left:15px;}.ml_20{margin-left:20px;}
/*padding*/
.pt_0{padding-top:0px!important;}.pt_5{padding-top:5px;}.pt_10{padding-top:10px;}.pt_15{padding-top:15px;}.pt_20{padding-top:20px;}
.pr_0{padding-right:0px;}.pr_5{padding-right:5px;}.pr_10{padding-right:10px;}.pr_15{padding-right:15px;}.pr_20{padding-right:20px;}
.pb_0{padding-bottom:0px!important;}.pb_5{padding-bottom:5px;}.pb_10{padding-bottom:10px;}.pb_15{padding-bottom:15px;}.pb_20{padding-bottom:20px;}
.pl_0{padding-left:0px;}.pl_5{padding-left:5px;}.pl_10{padding-left:10px!important;}.pl_15{padding-left:15px;}.pl_20{padding-left:20px;}
/*fontSize*/
.fz_10{font-size:10px;}
.fz_12{font-size:12px;}
.fz_14{font-size:14px;}
.fz_16{font-size:16px;}
.fz_18{font-size:18px;}
/*fontFamily*/
.ff_csm{-webkit-text-shadow:0 1px 2px #999;-moz-text-shadow:0 1px 2px #999;text-shadow:0 1px 2px #999;}
.ff_Arial{ font-family:Arial;}
/*fontColor*/
.c_blue{color:blue;}
.c_white{color:white!important; margin:0 10px;}
.c_666{color:#666;}
.c_09c{color:#09c}
.c_c00{color:#C00!important;}
.c_F00{color:#F00;}
.c_000{color:#000;}
.c_999{color:#999!important;}
.c_333{color:#333!important;}
.c_f39800{color:#f39800;}
.c_1122cc{color:#1122cc;}
.c_bbbbbb{color:#bbbbbb;}
.c_f39d08{ color:#f39d08;}
.c_fb7c04{ color:#fb7c04;}
.c_dc5800{color:#dc5800;}
.c_b74601{color:#b74601;}
.c_ffba00{color:#ffba00;}
.c_fbb13c,a.c_fbb13c:hover{color:#fbb13c;}
.c_a3a3a3{color:#a3a3a3;}
.c_0896ae{ color:#0896ae}
/*fontStyle*/
.fontBold{font-weight:bold;}
.fontNormal{font-weight:normal;}
/*line*/
.line{background:url(cut/line.gif) repeat-x;font-size:0;height:1px;line-height:1px;overflow:hidden;}
/*lineHeight*/
.lh30{line-height:30px;}
/*realtive*/
.relative{position:relative;}
/*no-border*/
.noneB{border:none!important;}
/*no-background*/
.noneBg{background:none!important;}
/*display*/
.dShow{display:block!important;}
.dHide{display:none!important;}
/*CSS 3*/
.borderRadius3{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.boxShadow{-webkit-box-shadow:0 2px 5px #CCC;-moz-box-shadow:0 2px 5px #CCC;box-shadow:0 2px 5px #CCC;}
.textShadow{-webkit-box-shadow:0 0 5px #CCC;-moz-box-shadow:0 0 5px #CCC;box-shadow:0 0 5px #CCC;}
/*loading*/
.loading{background:url(../images/loading.gif) center no-repeat!important;}
.tipLoading{display:inline-block;line-height:18px;height:16px;padding:1px 5px 1px 25px;border:1px solid #C5C8CB;font-weight:normal;font-size:12px;color:#999;background:white url(cut/onLoad1.gif) 5px no-repeat;}

/*==========列表分页==========*/
.pager{text-align:center; padding:10px 0;}
.pager a,.pager span{display:inline-block;padding:5px 7px;border:1px solid #f8d59f;color:#e48b0c;background:#fff8e1;margin:10px 2px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;vertical-align:middle;}
.pager a:hover,.pager .current,.pager a.current,.pager span{background:#ffebaa;text-decoration:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}

.tj_txt{ width:162px; height:19px; border:1px solid #e5e5e5; padding-top:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.tj_tarea{ border:1px solid #e5e5e5; width:579px; height:98px; overflow:hidden;-webkit-border-radius:2px;-moz-border-radius:2px;}
.tj_Btn{ width:69px; height:28px; background:url(cut/abg.png) no-repeat left -58px; border:0; cursor:pointer; color:#fff; font-weight:bold;}
.tj_Btn_Ok{ margin-right:13px; margin-top:10px;}
.tj_Btn_Cancel{ margin-right:60px; margin-top:10px;}
.user_info_txt{ width:154px;height:21px; height:18px\9; border:1px solid #e4e4e4; padding-top:3px\9; padding-left:8px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.user_password_txt{ width:211px;height:21px; height:18px\9; border:1px solid #e4e4e4; padding-top:3px\9; padding-left:8px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.logon_txt{width:204px;height:23px; height:19px\9; border:1px solid #d7d7d7; padding-top:4px\9; padding-left:8px;-webkit-border-radius:2px;-moz-border-radius:2px; background:#f1f1f1;}
.login_btn,.regester_btn{ border:0; height:29px; width:79px; background:url(cut/abg.png) no-repeat -705px -60px; color:#fff; font-weight:bold; cursor:pointer;}
.regester_btn{ background-position:-784px -60px; width:75px;}
.login_just_regster_btn{cursor:pointer; border:0; height:29px; width:95px; background:url(cut/abg.png) no-repeat -610px -60px;#fff; font-weight:bold;}
.txt_home_login{ width:170px;height:23px; height:19px\9; border:1px solid #e4e4e4; padding-top:4px\9; padding-left:8px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.sqBtn{ background:url(cut/abg.png) no-repeat -127px -94px; border:0; height:30px; width:90px; font-size:14px; font-weight:bold; color:#fff;}
.points_txt{width:162px;height:21px; height:18px\9; border:1px solid #f3a86f; padding-top:3px\9; padding-left:8px;-webkit-border-radius:2px;-moz-border-radius:2px;}