.main{width:980px;margin:0 auto;padding:10px 0 10px 0;}
.dclc{width:978px;height:50px; background:#e9e9e9; border:1px solid #c1c1c1;}
.dclc li{float:left;line-height:50px;padding:0 45px 0 15px;font-size:16px;font-weight:bold;}
.dclc li img{float:left;}
.dclc li a,.dclc li a:visited{color:#333;}
.xrk{width:978px;background:#fff9f0; border:1px solid #ffd4a0;margin-top:10px;padding:20px 0 20px 0; text-align:center;}
.xrk1{width:660px;margin:0 auto;}
.xrk1 input{width:387px;height:60px; background:url(../images/xrk_bg.png) no-repeat; border:none;float:left;line-height:60px;padding:0 0 0 20px;color:#666;font-size:14px;}
.xrk2{padding-top:20px; text-align:center;line-height:24px;font-size:14px;}
.xrk2 a,.xrk2 a:visited{color:#f18606;}
.xrk2 a:hover{ text-decoration:underline;}
.xrk3 span.dc01 input{width:200px;height:20px; border:1px solid #b5b3b1;line-height:20px;}
.xrk3 li{width:266px;height:30px;margin:0 auto;}



.lctu{width:980px;height:194px; background:#e2e2e2;margin-top:10px;}
.lctu01{width:326px;float:left; background:url(../images/lctu-x.png) no-repeat right;height:166px;padding-top:28px;}
.lctu01-left{float:left;}
.lctu01-right{float:left;padding-left:20px;}
.lctu01-right span{font-weight:bold;font-size:14px;line-height:38px;}
.lctu01-right p{color:#666;}

.lctu02{width:300px;float:left; background:url(../images/lctu-x.png) no-repeat right;height:166px;padding-top:28px;padding-left:26px;}

.lctu03{width:300px;float:left; height:166px;padding-top:28px;padding-left:26px;}

.jf{width:980px;height:286px;margin-top:15px;}
.jf-title{width:978px;height:32px; border:1px solid #c1c1c1;position:relative; }
.jf-title span{font-size:14px;font-weight:bold;float:left;line-height:32px;padding-left:10px;}
.jf-new{position:absolute;left:72px;top:-10px;}
.jf-title a,.jf-title a:visited{line-height:32px;padding-right:10px;float:right;font-weight:bold;color:#fe6902;}
.jf-title a:hover{ text-decoration:underline;}
.jf-main{width:978px;height:246px; border:1px solid #b7b3b3;margin-top:8px;}
.jf-main li{width:326px;float:left;position:relative;}
.jf-main-tu{width:324px; text-align:center;padding-top:14px;height:156px; background:url(../images/c01-x.png) right no-repeat;}


.jf-main-w{ width:326px;height:76px; background:url(../images/jf-main-w-x.png);}
.jf-main-w01{ width:326px;height:76px; background:#dbdbdb;}
.jf-main-w01 h3{width:285px;height:26px;font-size:14px;font-weight:bold;line-height:26px;padding-left:39px;}
.jf-main-w01 h3 a,.jf-main-w h3 a:visited{color:#ed6000;}
.jf-main-w01 h3 a:hover{ text-decoration:underline;}
.jf-main-w h3{width:285px;height:26px;font-size:14px;font-weight:bold;line-height:26px;padding-left:39px;}
.jf-main-w h3 a,.jf-main-w h3 a:visited{color:#ed6000;}
.jf-main-w h3 a:hover{ text-decoration:underline;}
.jf-main-tu01{width:324px; text-align:center;padding-top:14px;height:156px;}
.jf-mian-bq{position:absolute;width:97px;height:40px; background:#f00;left:40px; background:url(../images/jf-mian-bq.png);padding-left:43px;font-weight:bold;}
.jf-mian-bq span{line-height:24px;color:#666;}
.jf-mian-bq p{color:#666;}
.jf-main-aniu{position:absolute;left:220px;}


.rm{width:980px;height:246px;margin-top:20px;}
.rm-title{width:978px;height:32px; border:1px solid #c1c1c1;position:relative; }
.rm-title span{font-size:14px;font-weight:bold;float:left;line-height:32px;padding-left:10px;}
.rm-new{position:absolute;left:72px;top:-10px;}
.rm-title a,.rm-title a:visited{line-height:32px;padding-right:10px;float:right;font-weight:bold;color:#fe6902;}
.rm-title a:hover{ text-decoration:underline;}
.rm-main{width:978px;height:206px; border:1px solid #b7b3b3;margin-top:8px;}
.rm-main li{width:243px;float:left;position:relative; border-right:1px solid #c4c4c4;height:206px;}
.rm-main li.wx01{width:243px;float:left;position:relative;height:206px;border-right:none;}

.rm-main-tu{width:240px; text-align:center;padding-top:14px;height:107px;}
.rm-main-tu img{width:138px;height:91px;}
.rm-main-w{ width:203px;height:70px; background:#dbdbdb;padding-left:39px;padding-top:15px;position:relative; }
.rm-main-w01{ width:207px;height:70px; background:#dbdbdb;padding-left:39px;padding-top:15px;position:relative; }
.rm-main-w-tu{position:absolute;width:19px;height:20px; background:url(../images/dc01-jh01.png);left:165px;top:51px;}
.rm-main-w-tu a:hover{width:19px;height:20px; background:url(../images/dc01-jh.png); display:block;}
.rm-main-w p{color:#666;}

.kk{width:978px;border:1px solid #d6d6d6; background:url(../images/kk_main.png);}
.left{width:699px;float:left; }
.top01{padding:0 0 20px 0; text-align:right;padding-right:15px;}
.dc-title{width:697px;height:137px; background:#e9e9e9; border-bottom:1px dashed #d6d6d6;position:relative; }
.dc-title-tu{position:absolute;top:20px;left:20px;}
.dc-title-w{position:absolute;top:20px;left:170px;}
.dc-title-w span{font-weight:bold;line-height:30px;font-size:14px;}
.dc-title-w p{color:#666;}
.dc-title-aniu{position:absolute;left:595px;top:80px;}
.dc-title-aniu p{padding-top:10px;color:#666;}
.cd-lb{width:420px;padding:20px 0 30px 30px;}
.cd-lb li{width:420px;line-height:30px;font-size:14px;font-weight:bold;}
.cd-lb li a:hover{color:#333; text-decoration:underline;}
.cd-lb li li{float:left;font-size:12px;font-weight:normal;width:390px;height:24px;line-height:24px; background:url(../images/cd_bg.png);padding-left:30px;}
.cd-lb li li:hover{width:390px;height:24px; background:#f00;background:url(../images/cd_bg-hover.png);cursor:pointer;}
.cd-lb li li a{float:left; background:#fff;padding:0 5px 0 5px;}
.cd-lb li li a:hover{ background:#fa7004;color:#fff;}
.cd-lb li li span{float:right; background:#fff;padding:0 5px 0 5px; font-family:georgia, times, serif;}

.right{width:278px;float:right; border-left:1px solid #d6d6d6;}
.xd{width:100%;}
.xd-title{width:100%;height:33px; background:url(../images/cd-bg.png);}
.xd-title span{font-size:14px;font-weight:bold;line-height:33px;color:#fff; background:url(../images/xd-span.png) no-repeat 8px;padding-left:45px;}
.xd-main{width:100%;}
.xd-nr1{width:260px;margin:0 auto;padding-top:10px;}
.xd-nr1 p{ border-bottom:2px solid #e2e2e2;color:#666;}
.xd-nr1 h3{width:260px; text-align:center;padding:25px 0 25px 0; background:url(../images/xd-nr1_h3.png) no-repeat;margin-top:10px;color:#0896ae;}
.wdxx{width:260px;margin:0 auto;}
.wdxx-title{width:260px;height:23px; border-top:1px solid #e8e0d5;border-bottom:1px solid #e8e0d5;margin-top:5px;}
.wdxx-title span{font-weight:bold;line-height:23px;font-weight:bold;}
.wdxx-main{margin-top:10px;}
.wdxx-main li{width:260px;height:26px;}
.wdxx-main li span{float:left;line-height:26px;}
.wdxx-main li input{ border:none;height:20px;line-height:20px;padding:0 10px 0 10px;float:left;color:#666;}
.wdxx-main li.input01 input{ background:url(../images/input01.png);border:none;height:20px;line-height:20px;}
.wdxx-main li.input02 input{ background:url(../images/input01.png);border:none;height:20px;line-height:20px;}
.wdxx-main li.input03 input{ background:url(../images/input03.png);border:none;height:20px;line-height:20px;}

.wdxx-main li img{float:right;padding-right:25px;}
.wdxx-aniu{ text-align:center;padding-top:10px; border-bottom:2px solid #e2e2e2;padding-bottom:10px;}

.zfyx{width:260px;margin:0 auto;}
.zfyx-title{width:260px;height:23px; border-top:1px solid #e8e0d5;border-bottom:1px solid #e8e0d5;margin-top:10px;}
.zfyx-title span{font-weight:bold;line-height:23px;font-weight:bold;}
.zfyx-main{margin-top:10px;}
.zfyx-main textarea{width:250px;height:50px;line-height:22px;padding-left:10px;color:#666;}
.zfyx-main li{line-height:26px;color:#666;}
.zfyx-main li span{ background:url(../images/zt-ls.png) no-repeat;padding:0 5px 0 5px;color:#fff;}
.zfyx-main li span.hs{background:url(../images/zt-hs.png) no-repeat;}

.dcxxt{width:100%;margin-top:15px;}
.dcxxt-title{width:100%;height:33px; background:url(../images/cd-bg.png);}
.dcxxt-title span{font-size:14px;font-weight:bold;line-height:33px;color:#fff; background:url(../images/dcxxt-span.png) no-repeat 8px;padding-left:45px;}
.dcxxt-main{padding-top:10px;padding-left:15px;padding-right:15px;}
.dcxxt-main li{width:100%;line-height:26px;}
.dcxxt-main li a{ background:url(../images/dian01.png) no-repeat 5px;padding-left:15px;}
.dcxxt-main li a:hover{color:#333; text-decoration:underline;}
.dcxxt-main li p{color:#0896ae;padding-left:15px;}

.xd-nr1-li{width:260px;height:30px;}

.sc{width:260px;margin:0 auto;}
.sc li{width:260px;height:30px;line-height:50px;}
.sc li input{height:24px; border:none;line-height:24px;padding-left:10px;color:#666;}

.sc li.input04 input{ background:url(../images/input04.png) no-repeat;border:none;height:24px;line-height:24px;}
.sc li.input05 input{ background:url(../images/input05.png) no-repeat;border:none;height:24px;line-height:24px;}

.sc li span{color:#0896ae;}


.ssn{width:100%;margin-top:20px;}
.ssn-title{width:100%;height:33px; background:url(../images/ssn.png) no-repeat;}
.ssn-title span{font-size:14px;font-weight:bold;line-height:33px;color:#fff; padding-left:45px;}
.ssn-main{padding-top:15px;width:260px;margin:0 auto;padding-bottom:15px;}
.ssn-main p{padding-top:10px;color:#666;}

.cdmingc{width:260px;margin:0 auto;padding:10px 0 0 0;}
.cdmingc li{width:260px;height:26px;line-height:26px; background:url(../images/cdmingc.png);}
.cdmingc li a,.cdmingc li a:visited{float:left;color:#333; background:#f6f6f6;}
.cdmingc li span{float:right; background:#f6f6f6;padding:0 10px 0 10px;}

.jfqg table{ border:1px solid #ccc;border-bottom:none;border-left:none; text-align:center;}
.jfqg table td{ border-bottom:1px solid #ccc;border-left:1px solid #ccc;line-height:40px;}
.jfqg table td input{ border:none;height:24px;line-height:24px;color:#666;padding-left:10px;width:170px; background:url(../images/input06.png) no-repeat;}

.jfqg table td a:hover{ text-decoration:underline;}

.tbtu{ text-align:left;padding:30px 10px 30px 10px;}
.tbtu-left{float:left;}
.tbtu-left img{width:140px;height:88px;}
.tbtu-right{float:left;padding-left:15px;line-height:0;padding-top:15px;}
.tbtu-right p{padding:0px;margin:0px;}

.jfqg-bottom{padding-top:20px;padding-bottom:30px; text-align:right;line-height:26px;}
.jfqg-bottom span{padding-right:10px;font-weight:bold;}
.jfqg-bottom img{float:right;}

/*注册和登录样式*/
.zc-k{width:980px;}
.zc-k-left{width:662px; border:1px solid #d8d8d8; border-right:none;float:left;padding:15px 15px 15px 15px;height:350px;}
.zc-k-left-title{width:100%;height:40px; border-bottom:1px solid #d8d8d8;line-height:40px;}
.zc-k-left-title span{font-size:16px;font-weight:bold;color:#333; padding-right:5px;}
.zc-k-left-title a,.zc-k-left-title a:visited{color:#f96304; padding-left:5px;}
.zc-k-left-title a:hover{ text-decoration:underline;}

.zc-k-left-main{width:100%;padding-top:30px;padding-left:30px;}
.zc-k-left-main li{width:662px;margin-bottom:20px;height:29px;line-height:29px;}
.wc{float:left;width:70px;font-size:14px;}
.wc01{letter-spacing:10px;float:left;width:70px;font-size:14px;}
.wc02{letter-spacing:7px;float:left;width:70px;font-size:14px;}
.wc03{letter-spacing:7px;float:left;width:70px;font-size:14px;}
.zc-k-left-main li input{float:left; background:url(../images/input07.png) no-repeat;width:211px;color:#666;font-size:14px;height:29px; border:none;line-height:29px;padding:0 10px 0 10px;}
.zc-k-left-main li.in08 input{float:left; background:url(../images/input08.png) no-repeat;width:60px;color:#666;font-size:14px;height:29px; border:none;line-height:29px;padding:0 10px 0 10px;}
.zc-k-left-main a{ color:#666;}
.zc-k-left-main a:hover{ text-decoration:underline;}

.zc-k-left-main li p{float:left;color:#949494;padding-left:10px;line-height:29px;}

.zc-k-left-ydu{width:100%;padding-left:98px; padding-bottom:10px;}
.zc-k-left-ydu a,a.go_zc{ color:#0896ae;}
.zc-k-left-ydu a:hover,a.go_zc:hover{ text-decoration:underline;}


.zc-k-left-aniu{width:100%;padding-left:98px;padding-top:10px;}

.zc-k-right{ background:#f6f6f6;width:285px;height:380px;float:right; border:1px solid #d8d8d8;}
.zc-k-right h3{font-weight:bold;font-size:14px;color:#333;padding-top:20px;line-height:50px;}
.zc-k-right-w{width:240px;margin:0 auto;}
.zc-k-right-w span{line-height:20px;color:#0896ae;}
