.sub_con{ width:960px; margin:0 auto; padding:20px 0;}
.sub_con,.share,.yh_intro,.yh_intro .left ul li,.qk_wrap ul li,.page ul,.want_q,.tray_list li,.zjf_list,.zjf_list li dl,.r_intro h2{ overflow:hidden;zoom:1;}
.left{ float:left;}
.right{ float:right;}
.sub_con .left{ width:700px;}
.sub_con .right{ width:250px;}
.left_wrap{ border:1px solid #e6e6e6; margin-bottom:10px;}
.leftTop{ background:url(../images/sub_sprite2012.png) left top; line-height:28px; font-size:14px; font-weight:bold; padding-left:15px;}
.share{ background:#f8f8f8; padding:5px; border-bottom:1px solid #e6e6e6;}
.share a{ margin-right:20px;}
.left_wrap_in,.left_wrap_intro,.qk_wrap{ padding:20px 15px;}
.title{ font:22px/30px "Microsoft Yahei"; margin-bottom:15px;}
.yellow{ color:#fb7c04;}
.yh_intro .left{ width:223px;}
.yh_intro .right{ width:432px;}
.yh_intro .right a img{}
.show_price{ border:1px solid #e6e6e6; background:#f5f5f5; font:14px/28px "Microsoft Yahei"; padding:22px 10px 50px 10px; height:60px; position:relative;  }
.show_price .yellow{ font-size:24px; font-weight:bold; letter-spacing:-1px;}
.show_price .gray{ font-size:18px; color:#333; padding:0 3px;}
.qian_btn{ cursor:pointer; border:none;}
.qian_btn{ background:url(../images/ldf_sprite1747.png) left -32px; width:223px; height:36px; position:absolute; bottom:-1px; left:-1px;}
.yh_intro .left ul{ border:1px solid #e6e6e6; border-bottom:none; margin-top:15px;}
.yh_intro .left ul li{ line-height:54px; border-bottom:1px solid #e6e6e6; vertical-align:middle; color:#555; overflow:hidden;}
.pic{ display:block; float:left; background:#f6f6f6; height:44px; width:60px; text-align:center; border-right:1px solid #e6e6e6; vertical-align:middle; margin-right:10px; padding-top:11px;}
.purple{ color:#fb7304;}
.left_wrap_in h2{ font-size:14px; font-weight:bold; color:#333; padding:8px 0;}
.left_wrap_in p{padding:5px 0;line-height:30px;font-size:14px; }
.left_wrap_in p img{ max-width:640px;}
.warm p{ padding:0px;}
.qk_wrap ul li{ border-bottom:1px dotted #c2c2c2;}
.qk_wrap ul li div{ float:left; line-height:28px; padding:0 5px; text-align:center;}
.qk_wrap ul li.qk_title{ background:#f2f2f2; font-size:14px; border-bottom:none; padding:2px 0;}
.d1{ width:100px;}
.d2{ width:324px;}
.d3{ width:120px;}
.d4{ width:80px;}
.want_q{ border:1px solid #e2e0e1; background:#f8f8f8; margin-top:10px;}
.q_left{ width:200px; float:left; font: bold 22px/85px "Microsoft Yahei"; color:#ff6c00; text-align:center; border-right:1px solid #e2e0e1;}
.q_right{ background:#fff; width:447px; float:right; padding:20px 0 0 50px;font:16px/32px "Microsoft Yahei"; position:relative; height:65px;}
.q_right p span{color:#ff6c00; font-size:18px;}
a.q_btn{ position:absolute; width:160px;font: bold 20px/40px "Microsoft Yahei"; display:block; background:#ff6900; color:#fff; text-align:center; right:80px;}
.r_intro{border:1px solid #e6e6e6; margin-bottom:10px; padding-bottom:10px; position:relative;}
.r_intro h2{ background:url(../images/introTop.png) left top; font-size:14px; line-height:38px; padding-left:10px; font-weight:bold; margin-bottom:10px; color:#333;}
.r_intro p{ font-size:14px; line-height:26px; padding:0 15px; color:#666;}
.r_pic{ padding:10px 15px 5px 15px;}
.no_tray{ text-align:center; padding:20px 0; color:#666;}
.tray_list{ padding:0 10px;}
.tray_pic{ display:block; float:left; width:90px;}
.tray_pic img{ width:90px;}
.tray_right{ float:right; width:130px;}
.tray_right a{ font-weight:bold; line-height:16px;}
.tray_right a:hover{ color:#fb7c04;}
.dh_div{ padding-top:5px;}
.dh_div .yellow{ font-size:14px; font-weight:bold; padding-right:3px;}
.tray_list li{ border-bottom:1px dotted #e6e6e6; padding:5px 0 8px 0;}
.poa_div{ position:absolute; background:url(../images/introTop.png) left -45px; width:55px; font: 20px/55px "Microsoft Yahei"; text-align:center; color:#fff; right:40px; top:20px;}
.x_help p{ font-size:12px; color:#333; line-height:20px;}
.x_help li{ padding:2px 0; cursor:pointer;}
.x_help p.p2{ color:#0896ae; line-height:18px; padding-left:25px; display:none;}
.x_help p.p1{ padding-bottom:3px;}
.x_help p.p1:hover{ text-decoration:underline;}
.typeUL,.type_dot,.typeItemNav{ overflow:hidden;zoom:1;}
.typeItemNav{ padding:13px 15px 10px 15px;  border:1px solid #e6e6e6; margin-bottom:15px;}
.sort{ display:block; float:left; font-weight:bold; width:40px; text-align:right; color:#000;}
.typeUL{ float:right; width:628px;}
.typeUL li{ float:left; margin-right:15px;}
.typeUL li a{ color:#0896ae; padding:3px 0;}
.typeUL li a span{color:#434343;}
.typeUL li a:hover,.typeUL li a.current{background:#00c7c7; text-decoration:none; color:#fff; }
.typeUL li a:hover span{ color:#fff;}
.type_dot{ padding:8px 0;}
.zjf_list li{ border:1px solid #e6e6e6; margin-right:14px; padding:15px; width:311px; float:left; margin-bottom:15px;}
.zjf_list li.no_Mar{ margin-right:0px;}
.zjf_list li img{ width:311px;height:223px;}
.zjf_list li p{ padding:10px 0;}
.zjf_list li p a{ font-size:14px; font-weight:bold; color:#333; line-height:24px;}
.zjf_list li p a:hover{color:#fb750b;}
.zjf_list li dt{ float:left; font-size:14px; line-height:28px; }
.b_yellow{color:#fb750b; font-size:24px; font-weight:bold; padding-left:3px;}
.zjf_list li dd{ float:right; text-align:right;}
.zjf_list li dd .yellow{ font-weight:bold; padding-left:3px; padding-right:5px;}
a.wa_link{background:url(../images/ldf_sprite1747.png) left top; width:83px; height:32px; margin-left:55px;border:none; color:#fff; font-size:16px; font-weight:bold; display:block; line-height:32px; text-align:center; margin-bottom:8px;}

.mainmenu{ height:40px; border-bottom:1px solid #d7d7d7;}
.mainmenu ul{ position:absolute; padding-left:20px;}
.mainmenu ul li{ width:125px; height:39px; line-height:39px; float:left; border:1px solid #d7d7d7; border-bottom:none; background:#f3f3f3; margin-right:5px;}
.mainmenu ul li a{color:#333; font-size:14px;text-align:center; display:block; width:125px; height:40px;outline:none;blr:expression(this.onFocus=this.blur());}
.mainmenu ul li.current a{color:#f96304; text-decoration:none; background:#fff; font-weight:bold;}
.help{ border:1px solid #d7d7d7; margin-top:10px; padding:20px 20px; height:370px; font-size:14px; margin-bottom:15px;}
.help p{ line-height:30px;background:url(../images/dian01.png) no-repeat left 13px; display:block; padding-left:10px;}
.r_p{ margin-bottom:10px;}
.sjpl ul { width:650px; margin:0 auto; padding:15px;}
.sjpl ul li{  border-bottom:1px dotted #eaeaea; padding:10px 0 20px 0;}
.sjpl ul li p{ line-height:24px; padding:5px 0;}
.c_fb7c04{ color:#fb7c04};
div.fr_time{ color:#0896ae; text-align:right; clear:both;}
.sjdp{ padding:15px; position:relative;}
.sjdp h3{ font-size:14px; font-weight:bold;}
.txt_dp{ border:1px solid #eaeaea; width:460px; height:110px; background:#f2f2f2; overflow:hidden; margin-top:10px;}
.txt_dp_tip{  position:absolute; left:495px;_left:480px; top:140px;}
.sjplsubmit{ background:url(../style/cut/abg.png) no-repeat -217px -96px; border:0; width:74px; height:27px; cursor:pointer; font-size:14px; font-weight:bold; color:#fff; margin-top:15px; margin-left:387px; }
.page{  padding:10px 0;}
.page ul{ width:auto; margin:0 auto;}
.page ul li{ float:left; height:22px; border:1px solid #e6e6e6; padding:0 10px; line-height:22px; float:left; margin-right:5px;}
a.qk_link{ float:right; color:#0896ae; font-size:12px; font-weight:normal; padding-right:15px;}
a.qk_link:hover{ text-decoration:underline;}
.money{ font-family:"Microsoft Yahei"; padding-left:3px;}
.c_0896ae{ color:#0896ae;}
/*==========¡–±Ì∑÷“≥==========*/
.pager{text-align:center; padding:10px 0;}
.pager a,.pager span{display:inline-block;padding:2px 10px;border:1px solid #e6e6e6;color:#454545;background:#f9f9f9;margin:10px 2px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;vertical-align:middle;}
.pager a:hover,.pager .current,.pager a.current,.pager span{background:#f0f0f0;text-decoration:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}